.home__content{
	min-height: calc(100vh - 5rem);

	display: flex;
	justify-content: space-between;
	align-items: center;

	section {
		display: flex;
		flex-direction: column;
		gap: 2.5rem;

		span {
			font-weight: 700;
		}

		p, span{
			font-size: 1.5rem;
			line-height: 2.25rem;
		}

		strong {
			color: var(--cyan-500);
		}

		h1{
			font-size: 4.5rem;
			line-height: 4.5rem;
			font-weight: 900;
			color: var(--white);
			margin-bottom: 1.5rem;
		}
	}

	@media screen and (max-width: 991px) {
		flex-direction: column;
		padding: 4rem 0;

		img {
			order: 0;
			margin-bottom: 2rem;

			max-width: 400px;
			width: 100%;
		}

		section {
			order: 1;

			h1 {
				font-size: 3rem;
				line-height: 3rem;
			}
		}

	}
}
